<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span4">
      <h3>Posts</h3>
      <%= render 'shared/feed' %>
    </div>
    <aside class="span4">
      <section>
        <h3>Extreme Tech RSS</h3>
        <ul>
          <% for entry in RssfeedEntry.all(:limit => 10, :order => "published_at desc") %>
            <li><%= link_to h(entry.name), entry.url %></li>
          <%end%>
        </ul>
      </section>
    </aside>
  </div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to JCarrollOnline</h1>
		<h2>
			This is the home page for JCarrollOnline
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	<% end %> 




